<h1>
  <a routerLink="/">{{title}}</a>
</h1>
<div class="SbPlaylistsArea">
  <div *ngIf="playlist_data.length !== 1; else onePlaylistBlock">
    <button *ngFor="let d of playlist_data; let i = index"
            (click)="onMenuClick(i)" class="SbButton">{{d.name}}</button>
  </div>
  <ng-template #onePlaylistBlock>
    <span>{{playlist_data[0].name}}</span>
  </ng-template>
</div>
<div class="SbPlaylistItemArea">
  <md-button-toggle-group #selectedItem="mdButtonToggleGroup" (change)="onItemChange(selectedItem)">
    <md-button-toggle *ngFor="let item of items" [value]="item.playlistId">{{item.name}}</md-button-toggle>
  </md-button-toggle-group>
</div>

<router-outlet></router-outlet>
<!-- Routed views go here -->