.SbGraphArea {
  padding: 20px 0;
}

.SbGraphAreaDropShadow {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

.SbStatList {
  padding: 30px 20px 0 20px;
}

.SbStatList .SbSelect {
  width: 200px;
}

.SbSvgArea {
  padding: 0 5px 10px 5px;
}

.SbSorting {
  padding: 0 40px;
}