.SbStatList {
  padding: 20px 5px 0 5px;
}

.SbStat {
  padding: 10px 10px 0;
}
.SbStat .SbCurrentStat {
  font-weight: bold;
}

.SbSvgArea {
  padding: 0 10px;
}
.SbButton.SbCalcButton {
  margin-top: 10px;
}