<div class="SbStatList">
  <button class="SbButton" [ngClass]="{'SbSelected': stat === 'viewCount'}"
          (click)="onClick('viewCount')">View Count</button>
  <button class="SbButton" [ngClass]="{'SbSelected': stat === 'likeCount'}"
          (click)="onClick('likeCount')">Like Count</button>
  <button class="SbButton" [ngClass]="{'SbSelected': stat === 'dislikeCount'}"
          (click)="onClick('dislikeCount')">Dislike Count</button>
  <button class="SbButton" [ngClass]="{'SbSelected': stat === 'commentCount'}"
          (click)="onClick('commentCount')">Comment Count</button>
  <button class="SbButton SbCalcButton" [ngClass]="{'SbSelected': stat === 'likeViewRatio'}"
          (click)="onClick('likeViewRatio')">Like / View</button>
  <button class="SbButton SbCalcButton" [ngClass]="{'SbSelected': stat === 'dislikeViewRatio'}"
          (click)="onClick('dislikeViewRatio')">Dislike / View</button>
  <button class="SbButton SbCalcButton" [ngClass]="{'SbSelected': stat === 'likeRatio'}"
          (click)="onClick('likeRatio')">Like / (Like + Dislike)</button>
  <div>
    <input type="checkbox" class="SbCheckbox" [(ngModel)]="sorting" (change)="onCheckboxChange()" id="sortingMode">
    <label for="sortingMode">Sort</label>
  </div>
</div>
<div class="SbSvgArea"></div>