/* You can add global styles to this file, and also import other style files */
body {
  padding: 5px 30px;
/*  background-color: papayawhip; */
}

.SbButton {
  font-size: 14px;
  color: dimgray;
  background-color: lightgray;
  border: 0px solid black;
  cursor: pointer;
  padding: 5px 8px 4px;
  border-radius: 5px;
  margin: 0 2px;
}

.SbButton:hover {
  background-color: silver;
}

.SbButton.SbSelected {
  color: cornflowerblue;
  font-weight: bold;
}

.SbYAxis .tick {
  cursor: pointer;
  visibility: visible;
}

.SbYAxis .tick.SbTickHidden {
  visibility: hidden;
}

.SbYAxis .tick .SbThumbnail {
  display: none;
  margin-top: 10px;
}

.SbYAxis .tick .SbThumbnail.SbActive {
  display: block;
}